<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns      = "http://www.w3.org/ns/widgets"
		xmlns:gap =	"http://phonegap.com/ns/1.0"
		id        = "com.phonegap.api-request"
		version   = "1.0.0">
	<name>IT Millionaire</name>
	<preference name="Fullscreen" value="true" />
	<description>Who Wants To Be An IT Millionaire is a Hybrid Android Application V.1.0</description>
	<icon src="images/logo2.png" />
	 <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	 <platform name="android">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
	 <platform name="windows">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
